.flexBox {
  display: flex !important;
  justify-content: center !important;
}
.center {
  text-align: center;
}
.topMargin {
  margin-top: 20px;
}
.flexEnd {
  justify-content: end;
}
.flexBetween {
  justify-content: space-between;
}
.formFlex {
  display: flex;
  justify-content: center;
}
